body{
    background-image: url('Background.jpg');
    background-size: cover;
}

.nav {
    overflow: auto;
    background-color: #947959;
    width: 100%;
    height: auto;
}

.nav a:hover{
    background-color: grey;
    color: white;
}

.nav a{
    float: right;
    text-align: center;
    color: white;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17;
}

.nav a.active{
    background-color: black;
    color: white;
}
/* 
.nav {
    overflow: hidden;
    background-color: #333;
  }
  
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav a.active {
    background-color: #04AA6D;
    color: white;
  } */